.NavBar__container {
    background-color: #007feb;
    /* position: absolute; */
    /* top: 0px; */
    height: 75px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.NavBar__container button {
    border-radius: 5px;
    border: none;
    margin-right: 5px;
    margin-left: 5px;
}

.NavBar__user_logout_container {
    margin-right: 30px;
    display: flex;
    /* position: absolute; */
    flex-direction: row;
    align-items: center;

}

.NavBar__user {
    background-color: white;
    border-radius: 5px;
    border: 1px solid darkblue;
    justify-content: center;
}

.NavBar__logo {
    display:flex;
    height:100%;
    width: auto;
}

.NavBar__container button:hover {
    border: 1px solid black
}