.splash-container {
    background-image: url('../../assets/splashpage_background.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0px;
    bottom: 5%;
    width: 100%
}

.splash-container p, h1 {
    font-family: sans-serif;
}

.splash-footer {
    background: black;
    position: absolute;
    top: 95%;
    /* bottom: 0px; */
    width: 100%;
}

.splash-footer__links {
    padding: 5px 5px 5px 1%;
    display: flex;
    justify-content: center;
}

.splash-footer__links img {
    height: 50px;
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
}

.splash-footer__copyright {
    text-align: center;
    color: white;
    font-size: 10px;
}

.splash-main {
    background-color: rgba(255, 255, 255, .3);
    max-width: 45%;
    margin-left: 10%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 30px;
    border: 1px solid black
}

.signup-form {
    display: flex;
    flex-direction: column;
    
}

.signup-form input {
    margin-top: 10px;
    background-color: rgba(255, 255, 255, .5);
}

/* .signup-form input:active {
    border: 1px solid blue;
} */

.signup-form button {
    max-width: 150px;
    margin-top: 10px;
    
}

.splash-login__button {
    display: flex;
    
}

.splash-title img{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.splash-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.splash-buttons button {
    border: none;
    border-radius: 5px;
    margin: 5px;
}

.splash-form__container {
    display: flex;
    justify-content: center;
}

.splash-form {
    width: 50%
}

.splash-form button {
    border: none;
    border-radius: 5px;
    margin: 5px;
}

.splash-form button:hover {
    background-image: linear-gradient(270deg, rgb(182, 5, 58), rgb(0, 127, 235, 0.8));
    background-size: 400% 400%;
    animation: TransitioningBackground 10s ease infinite;
    transition: 1s;
    cursor: pointer; 
}

.splash-buttons button:hover {
    background-image: linear-gradient(270deg, rgb(182, 5, 58),rgb(0, 127, 235, 0.8));
    background-size: 400% 400%;
    animation: TransitioningBackground 10s ease infinite;
    transition: 1s;
    cursor: pointer; 
}

@keyframes TransitioningBackground {
    0% {
    background-position: 1% 0%;
    }
    25% {
    background-position: 50% 100%;
    }
    50% {
    background-position: 50% 0%;
    }
    75% {
    background-position: 0% 100%;
    }
    100% {
    background-position: 1% 0%;
    }
    } 

/* input::placeholder {
    font-size: 20px;
} */

input:focus {
    outline: 1px solid #007feb;
}

.splash-text {
    text-align: center;
}