.Main__container {
    margin-left: 0 auto;
    margin-right: 0 auto;
    position: fixed;
    top: 100px;
    bottom: 25px;
    left: 25%;
    right: 25%;
    width: 50%;
    border: 2px solid #007feb;
    border-radius: 20px;

}

.Main__settings_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: lightblue; */
    background-color: rgba(173, 216, 230, .5);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 5px;
    border-bottom: 1px solid black;

    color: black;
    font-size: small;
    
    
}

.Main__settings_container div {
    margin: 2px;
    display: flex;
    align-content: center;
    padding: 3px;
}


.Main__settings_search input {
    width: 120px;
}



.Main__events_container {
    margin: 5px;
    display: flex;
    flex-direction: column;
}


.Main__event {
    display: grid;
    grid-template-columns: auto 200px 50px 100px;
    grid-template-rows: auto;
    gap: 10px;
}

.Main__event_title {
    grid-column-start: 1;
    grid-row-start: 1;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #007feb;
    /* background-color: black; */
    width: 100%;
}

.Main__event_title a:link {
    text-decoration: none;
}

.Main__event_title a:visited {
    color: #007feb
}

.Main__event_graph {
    display: flex;
    grid-column-start: 2;
    grid-row-start: 1;
    align-items: center;
    justify-content: center;
    /* background-color: blue */
}

.Main__event_graph canvas {
    max-width: 150px;
    max-height: 100px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .3);
}

.Main__event_current_predictions {
    display: flex;
    grid-column-start: 3;
    grid-row-start: 1;
    text-align: center;
    /* background-color: red */
    align-items: center;
}

.Main__event_resolved {
    display: flex;
    grid-column-start: 4;
    grid-row-start: 1;
    /* background-color: green; */
    align-items: center;
    text-align: end;
    justify-content: flex-end;
}


.Main__event_yes {
    color: green;
}

.Main__event_no {
    color: red;
}
